<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MapLinkToken" value="c13iyCvmcC9mzwkLd0LCbmYC5mUF5m2jNGNtNGt6NmK6NJK="/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RouteSoap" />
        <binding name="AddressFinderSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.maplink.com.br/webservices/v3/route/route.asmx"
          binding="basicHttpBinding" bindingConfiguration="RouteSoap"
          contract="MaplinkV3_Route.RouteSoap" name="RouteSoap" />
      <endpoint address="http://services.maplink.com.br/webservices/v3/AddressFinder/AddressFinder.asmx"
          binding="basicHttpBinding" bindingConfiguration="AddressFinderSoap"
          contract="MaplinkV3_AddressFinder.AddressFinderSoap" name="AddressFinderSoap" />
    </client>
  </system.serviceModel>
</configuration>