<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MapLinkToken" value="c13iyCvmcC9mzwkLd0LCbmYC5mUF5m2jNGNtNGt6NmK6NJK="/>
  </appSettings>  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RouteSoap" />
        <binding name="AddressFinderSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.maplink.com.br/webservices/v3/route/route.asmx"
          binding="basicHttpBinding" bindingConfiguration="RouteSoap"
          contract="MaplinkV3_Route.RouteSoap" name="RouteSoap" />
      <endpoint address="http://services.maplink.com.br/webservices/v3/AddressFinder/AddressFinder.asmx"
          binding="basicHttpBinding" bindingConfiguration="AddressFinderSoap"
          contract="MaplinkV3_AddressFinder.AddressFinderSoap" name="AddressFinderSoap" />
    </client>
    
    <services>
      <service name="RouteService.RouteService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="RouteService.IRouteService" behaviorConfiguration="web">          
        </endpoint>

        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
