<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AddressFinderSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.maplink.com.br/webservices/v3/AddressFinder/AddressFinder.asmx"
                binding="basicHttpBinding" bindingConfiguration="AddressFinderSoap"
                contract="MaplinkV3_AddressFinder.AddressFinderSoap" name="AddressFinderSoap" />
        </client>
    </system.serviceModel>
</configuration>